<p>Acid free paper is a special kind of paper meant for preserving valuable documents.  For a traditional photographer, an album made of acid free paper is essential for preserving his art.</p>
<p>For Drupal users, "Acidfree Albums" is an extensible system for organizing your media files, such as images and videos, into albums. Acidfree does not create media these files directly, but instead extends the built-in abilities provided by other components, such as the Image and Video modules.</p>
<h3>Why use "Acidfree Albums"?</h3> <p>The main advantages of using Acidfree over the built-in features of Drupal or the Gallery feature of Image are these:</p>
<ul> <li> Albums can contain other albums, letting you organize your media by type or year, for example.</li>
<li> Individual users can have their own albums.</li>
<li> Albums can be shared among users of a site or restricted to their creator.</li>
<li> Albums can contain more than one type of media. As shipped, Acidfree supports both images and videos.</li>
<li> Acidfree can be extended to support additional media types such as mp3s, with minimal coding.</li>
<li> Media items can be put into multiple albums. For example, you can create albums that organize your images by year, and albums that organize your images by type, and have the same image show in both places, without having to duplicate the image.</li>
<li> Acidfree provides an input filter that allows you to insert thumbnails of your media into other nodes. This is handy, for example, for inserting pictures into a blog post.</li>
<li> Acidfree can add features to other media modules, such as adding the ability to rotate your images.</li>
</ul>
