<p>Numbers (for example, "[#123456]") refer to bug reports being tracked on drupal.org. You can find a complete list of the issues being tracked on the <a href="http://drupal.org/project/issues/acidfree?text=&status=1&priorities=All&categories=All&version=All&component=All">Acidfree Albums Issues</a> page. Items that begin with a name in ALLCAPS were donated by the named contributor</p>
<p><strong>Development Builds</strong><br><br></p><ol><li>[#154411] - no longer displays unpublished per-user albums in acidfree/per-user-albums.</li>
<li>Global sort is now enforced correctly.</li>
<li>user/##/acidfree now selects the correct album for the user.</li>
<li>Changed 'Acidfree settings' to 'Acidfree' in Admin menu, to match other modules.</li>
<li>[#1032500] - Changed the message displayed when Acidfree creates the required vocabulary to explain why it does so.</li>
<li>[#1044680] - Added a link between the acidfree admin page and the test page.</li>
<li>[#1046684] - Fixed issue where mass import was broken on some sites.</li>
<li>[#973972] - Added support for new video data types. (Experimental)</li>
<li>[#1032496] - Fixed redundant/confusing error messages when updating settings.</li>
<li>Fixed a bug where image rotation would not work if the image had spaces in its file name.</li>
<li>(removed)</li>
<li>Partial success on image rotation at add time - it works but the preview and thumbnail images are not being rebuilt. This appears to be an issue with image_update() in the image module - it doesn't work correctly on images that haven't been added to the database yet. (i.e., they're still in the temp directory.)</li>
<li>[#326506] - Fixed issue where the global setting for album sharing did not have the expected effect.</li>
<li>[#1047582] - Replaced the old (and broken) contents mode with a Mass</li>
<li>Mass Update mode is now working. </li>
<li>Added custom access check for Mass Update so that it only shows up for albums.</li>
<li>Added a "quick items" section when viewing albums. Quick items must be enabled via the admin page. (/admin/settings/acidfree)</li>
<li>[#1057154] - album description will now appear even when album is empty.</li>
<li>[1029714] List Albums First now works as expected and does not make nodes 'sticky'.</li>
<li>[1050726] It is now possible to customize the default text for many Acidfree labels and fields, such as the text displayed when an album is empty.</li>
<li>[#1068998] - FIxed error where users who can upload to any album always see quick links.</li>
<li>[#432296] Fixed the problem where image rotation didn't work in some circumstances.</li>
<li>Updated the documentation on using the video extension.</li>
<li>Fixed bugs in how the videos were rendered in the inline filter.</li>
<li>[#1035320] Switched to advanced help.</li>
<li>[#1050726] Added additional customization strings.</li>
<li>RINGOMASSA: Now, when you delete an item, you are returned to the parent album instead of the front page.</li>
<li>BKAT: Fixed a problem with the acidfree pager displaying on items that weren't part of albums.</li>
<li>When deleting items from the mass update page, a confirmation page is displayed.</li>
</ol>

<p><strong>DRUPAL 6.x BETA 2</strong><br><br></p><ol><li>Fixed&nbsp; uninstall bug.</li>
<li>BKAT: updated video support.</li>
<li>BKAT: Corrections to mass_import_access.</li>
<li>Removed bad tab items.</li>
<li>BKAT: fix extranous items being merged by _acidfree_object_merge and a bug when mass importing a local set of images that also has sub-directories.</li>
<li>BKAT: Removed references from some function calls for php 5.3 compatibility.</li>
<li>BKAT: Compatibility with PHP 5.3.x.</li>
<li>BKAT/MHEINZ: Fixed broken settings/acidfree page.</li>
<li>Blocked the video module from participating in mass import, it doesn't interact properly with the form. Flagged for future work.</li>
<li>Renamed certain files to match Drupal conventions.</li>
<li>RINGOMASSA: Fixed the per-user-albums link.</li>
<li>RINGOMASSA: The /user/#/acidfree link now always works correctly.</li>
</ol>

<p><br><strong>DRUPAL 6.x BETA1</strong><br><br></p><ol><li>Fixed mass import, some access rights issues and added rudimentary support for views.</li>
</ol>
