<h3>General Settings</h3>
<dl> <dt><strong>Per User Albums</strong></dt> <dd>Turning this on will allow each user to have a top-level album of their own. The per-user albums are located at <a href="http://acidfreealbums.info/user/3/acidfree"><em>http://www.mysite.com//user/###/acidfree</em></a>, where '###' is the user's id number.&nbsp; Note that turning this off again will not delete existing per-user albums, but they will become inaccessible and prevent users who do not have per-user albums to create their own.</dd> <dt><strong>Share Albums By Default</strong></dt> <dd>Marking an album as shared will allow other users to post items in it.  Turning this on will cause albums to automatically be marked as shared - but album creators will still be able to turn sharing off.</dd> <dt>Enable mass import</dt> <dd>Enables the Mass Import functionality. Mass import provides a special upload page to allow users to upload multiple files at once, or to upload zipped files.  Users must still be given appropriate permissions for them to access this ability.</dd> <dt>Enable mass update</dt> <dd>Enables the Mass Update functionality. Mass Update allows users to quickly move, delete, add or move items between albums.  Users must still be given appropriate permissions for them to access this ability, and must have permissions to access the albums they want to alter.</dd> </dl>
<h3>Field Labels</h3>
<p>This section allows you to change the names of fields to match your own sites needs, and to
provide defaults for creating new items.</p>
<dl>
<dt><b>Default Album Body Text</b></dt>
<dd>Text that will be automatically filled in when a user creates a new album.</dd>
<dt><b>Default Empty Album Text</b></dt>
<dd>The message that will appear when an album is empty.</dd>
<dt><b>Mass Import Label</b></dt>
<dd>Lets you rename 'Mass Import' to something more appropriate for your site.</dd>
<dt><b>Mass Update Label</b></dt>
<dd>Lets you rename 'Mass Update' to something more appropriate for your site.</dd>
<dt><b>Add Items Label</b></dt>
<dd>Lets you rename the 'Add Acidfree Items' link to something more appropriate for your site.</dd>
</dl>
<h3>Acidfree Display</h3>
<dl>
<dt><b>Show image title as default caption for inline images</b></dt>
<dd>When using the acidfree input filter, if you don't explicitly set a title value, by default no title will appear. However, if this setting is set and no title is specified, the filter will use the title of the node as the caption for the inline image.</dd>
<dt><b>Amount of padding/border on each side of thumbnail image</b></dt>
<dd>Controls how thick the frame is that surrounds each thumbnail in an acidfree album page.</dd>
<dt><b>Show category links in Acidfree node views</b></dt>
<dd>Acidfree Albums are both nodes and Drupal vocabulary terms.  By default, when Drupal displays a node that has been tagged with vocabulary terms, those terms are also displayed.  Acidfree suppresses this by default, but checking this item will allow the terms to be displayed.</dd> 
</dl>
<h3>Album Settings</h3>
<dl>
<dt><b>Show quick links in album view</b></dt>
<dd>There are two ways to add new items to an Acidfree Album. You can use the "Create Content" menu, or you can use the "quick items" links that Acidfree provides.  These links can be added to album pages by checking this item. Alternately, you can use the admin/settings/block page to add the quick links as a block.</dd>
<dt><b>Show alternative album view</b></dt>
<dd>Albums normally have two views: grid and list. This option controls whether or not when viewing the album, users can switch to the alternate view. Which view is the default view is set individually in each album.</dd>
<dt><b>Sort Albums By</b></dt>
<dd>Sets the default option for sorting new albums.</dd>
<dt><b>Sort all albums</b></dt>
<dd>Forces all albums to be sorted according to the default setting. (By default, album creators can choose their own sort options.)</dd>
<dt><b>Thumbnails per page</b></dt>
<dd>How many media items to display on one page of an album.</dd>
</dl>

