<p>Cut and paste the following code to import the Video content type into your system.  Note that even after importing you will need to manually edit the settings for the <i>field_video</i> field to ensure that it is set correctly for your site.</p>
<pre>
$content['type']  = array (
  'name' => 'Video',
  'type' => 'video',
  'description' => 'A <i>video</i> is used for displaying previously uploaded video files.',
  'title_label' => 'Title',
  'body_label' => 'Description',
  'min_word_count' => '0',
  'help' => '',
  'node_options' => 
  array (
    'status' => true,
    'promote' => true,
    'sticky' => false,
    'revision' => false,
  ),
  'language_content_type' => '0',
  'upload' => '1',
  'old_type' => 'video',
  'orig_type' => '',
  'module' => 'node',
  'custom' => '1',
  'modified' => '1',
  'locked' => '0',
  'image_attach' => '0',
  'image_attach_maximum' => '0',
  'image_attach_size_teaser' => 'thumbnail',
  'image_attach_size_body' => 'thumbnail',
  'comment' => '2',
  'comment_default_mode' => '4',
  'comment_default_order' => '1',
  'comment_default_per_page' => '50',
  'comment_controls' => '3',
  'comment_anonymous' => 0,
  'comment_subject_field' => '1',
  'comment_preview' => '1',
  'comment_form_location' => '0',
);
$content['fields']  = array (
  0 => 
  array (
    'label' => 'Video',
    'field_name' => 'field_video',
    'type' => 'filefield',
    'widget_type' => 'videoftp_widget',
    'change' => 'Change basic information',
    'weight' => '-4',
    'file_extensions' => 'mp4 mpeg avi mpg wmv flv mov',
    'file_path' => 'videos',
    'ftp_path' => 'ftpvideos',
    'default_dimensions' => '352x288',
    'default_player_dimensions' => '352x288',
    'autoconversion' => 0,
    'autothumbnail' => 'auto',
    'default_video_thumb_upload' => '',
    'default_video_thumb' => 
    array (
      'filename' => 'nothumb.png',
      'filepath' => 'sites/acidfreealbums.info/files/video_thumbs/nothumb.png',
      'filemime' => 'image/png',
      'source' => 'default_video_thumb_upload',
      'destination' => 'sites/acidfreealbums.info/files/video_thumbs/nothumb.png',
      'filesize' => '18122',
      'uid' => '1',
      'status' => 1,
      'timestamp' => 1299339728,
      'fid' => '332',
    ),
    'description' => '',
    'required' => 1,
    'multiple' => '0',
    'list_field' => '0',
    'list_default' => 1,
    'description_field' => '0',
    'op' => 'Save field settings',
    'module' => 'filefield',
    'widget_module' => 'videoftp',
    'columns' => 
    array (
      'fid' => 
      array (
        'type' => 'int',
        'not null' => false,
        'views' => true,
      ),
      'list' => 
      array (
        'type' => 'int',
        'size' => 'tiny',
        'not null' => false,
        'views' => true,
      ),
      'data' => 
      array (
        'type' => 'text',
        'serialize' => true,
        'views' => true,
      ),
    ),
    'display_settings' => 
    array (
      'weight' => '-4',
      'parent' => '',
      'label' => 
      array (
        'format' => 'hidden',
      ),
      'teaser' => 
      array (
        'format' => 'video_nodelink',
        'exclude' => 0,
      ),
      'full' => 
      array (
        'format' => 'video_plain',
        'exclude' => 0,
      ),
      5 => 
      array (
        'format' => 'default',
        'exclude' => 0,
      ),
      4 => 
      array (
        'format' => 'default',
        'exclude' => 0,
      ),
    ),
  ),
);
$content['extra']  = array (
  'title' => '-5',
  'body_field' => '-2',
  'revision_information' => '0',
  'author' => '-1',
  'options' => '1',
  'menu' => '-3',
  'book' => '3',
  'attachments' => '2',
);
</pre>
